*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
   padding: 15px;
   list-style: none;
   background-color: black;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-around;
  

}
.logo-photo{
width: 100px;
}
.item{
    margin: 10px;
    padding: 10px;
}
.menus{
    display: flex;
}
.blog{
    margin-top: 10px;
    font-size: 50px;
    bottom: 20px;
}


.dolor{
    margin-top: 10px ;
    padding: 10px;
}
.btn{
    margin-top: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
}
.img-benner{
    width: 200px;
    margin: 10px;
   
    
}
.benner-container{
   display: flex;
   color: white;
   justify-content: space-around;
  background-color:black;
  height: 100vh;
  align-items: center;
  border: 2px solid grey;
}

